In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams

import scipy.stats as stats

# Problem Statement:

A grocery store shared the transactional data with you. Your job is to conduct a thorough analysis of Point of Sale (POS) data, identify the most commonly occurring sets of items in the customer orders, and provide recommendations through which a grocery store can increase its revenue by popular combo offers & discounts for customers.

# PART B: Exploratory Analysis --> Exploratory Analysis of data & an executive summary (in PPT) of your top findings, supported by graphs. --> Are there trends across months/years/quarters/days etc. that you are able to notice?

In [13]:
df = pd.read_csv("C:/Users/mechs/OneDrive/Desktop/mra 2/dataset_group.csv")

In [14]:
df.head()

         Date  Order_id        Product
0  01-01-2018         1         yogurt
1  01-01-2018         1           pork
2  01-01-2018         1  sandwich bags
3  01-01-2018         1     lunch meat
4  01-01-2018         1   all- purpose

In [15]:
df.tail()

             Date  Order_id            Product
20636  25-02-2020      1138               soda
20637  25-02-2020      1138       paper towels
20638  26-02-2020      1139               soda
20639  26-02-2020      1139  laundry detergent
20640  26-02-2020      1139            shampoo

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [17]:
df.shape

(20641, 3)

In [18]:
df.describe().T

            count        mean         std  min    25%    50%    75%     max
Order_id  20641.0  575.986289  328.557078  1.0  292.0  581.0  862.0  1139.0

In [19]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [21]:
df.duplicated().sum()

4730